/**
 * Component: #footer
 *
 * @author  Marco Di Bella
 * @package mdb-kanzlei
 */



#footer {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}


#footer a {
    color: var(--wp--preset--color--white);
}
