/**
 * Block: core/columns
 *
 * @author  Marco Di Bella
 * @package mdb-kanzlei
 */


.wp-block-columns {
    gap: 2rem;
}


.wp-block-column {
    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}


.wp-block-columns.is-style-thin-blue-border {
    gap: 1.25rem;

    .wp-block-column {
        border: 2px solid var(--wp--preset--color--secondary);
        border-radius: 3px;
        padding: 1rem;
    }
}
